
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdditionCode</title>
</head>
<body>
    <div>
        @ViewBag.Result
    </div>
</body>
</html>
