
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Addition/AdditionCode" method="post">

            <p>Enter First Number</p>
            <p><input type="text" name="txtnum1" /></p>
            <p>Enter Second Number</p>
            <p><input type="text" name="txtnum2" /></p>
            <p></p>
            <p><input type="submit" name="btnsubmit" value="Addition" /></p>
        </form>

    </div>
</body>
</html>
